*.opensdf
*.sdf
*.suo
*.log
*.ipch
*.ilk
*.pdb
*.exe
*.tlog
*.obj
*.lastbuildstate
*.idb
*.pch
*.manifest
*.config
*.cache
*.resources
*.bi
*.user
*.dll
*.lib
*.exp
*.unsuccessfulbuild
*.metagen
/.vs/MetaDataPrj/v16
/Bin/Release
/Bin/x64/Debug
/Bin/x64/Release
/MetaData/Debug
/MetaData/Release
/MetaData/x64/Debug
/MetaData/x64/Release
/MetaDataPrj/Debug
/MetaDataPrj/Release
/MetaDataPrj/x64/Debug
/MetaDataPrj/x64/Release
/MetaDataTestDll/Debug
/MetaDataTestDll/Release
/MetaDataTestDll/x64/Debug
/MetaDataTestDll/x64/Release
/MetaDataView/Debug
/MetaDataView/Release
/MetaDataView/licenses.licx
/MetaDataView/x64/Debug
/MetaDataView/x64/Release
